body{
background-color:#f1f1f1;
}
img{
  width: 190px;
  height:190px;
}
div {width:600px;
    text-align: center;
    margin: 0 auto; 
}
h1{
  font-size:20px;
  font-family: verdana;
  color:#606062;
  padding:10px;
  border:5px solid #606062;
  margin:35px 20px;
}
h2 {
  font-size:20px;
  font-family: Verdana;
  color:#7a797b;
  padding:10px;
  margin:35px 20px;
  border:5px solid #606062;
}
h3 {
    font-size:20px;
    font-family:Verdana;
    color:#606062;
    padding:10px;
    border:5px solid #606062; 
    margin:35px 20px;
}
a {
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #25D366;
    border-radius: 25px;
}
p {
    font-size: 18px;
    font-family: Verdana;
    text-align: justify;
    line-height: 32px;
    color: #616163;
    margin-bottom: 35px;
  
